openapi: 3.2.0
info:
  title: Webscale URL maps API
  version: '2026.273'
  description: The Webscale APIs allow programmatic access to the Webscale services.
servers:
- url: https://api.webscale.com/v2
security:
- access_key: []
tags:
- name: URL maps
  x-tag-expanded: false
paths:
  /url-maps:
    get:
      summary: Read URL map collection
      description: Gets all URL maps
      tags:
      - URL maps
      responses:
        '200':
          description: The URL maps were successfully retrieved.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UrlMap'
      operationId: getUrlMaps
      x-operation-id-source: derived
    post:
      summary: Create a URL map
      description: Creates a new URL map and returns the definition
      parameters: []
      tags:
      - URL maps
      responses:
        '200':
          description: The URL map was successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMap'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlMapConfiguration'
              description: The URL map definition
      operationId: postUrlMaps
      x-operation-id-source: derived
  /url-maps/{id}:
    get:
      summary: Read a URL map
      description: Retrieves an URL map definition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: URL map id
      tags:
      - URL maps
      responses:
        '200':
          description: The URL map was successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMap'
      operationId: getUrlMapsById
      x-operation-id-source: derived
    patch:
      summary: Update a URL map
      description: Updates the URL map and returns the updated definition
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: URL map id
      tags:
      - URL maps
      responses:
        '200':
          description: The URL map was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMap'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UrlMapConfiguration'
              description: The URL map definition
      operationId: patchUrlMapsById
      x-operation-id-source: derived
    delete:
      summary: Delete a URL map
      description: The URL map must belong to the current account
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          description: URL map id
      tags:
      - URL maps
      responses:
        '200':
          description: The URL map was successfully deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlMap'
      operationId: deleteUrlMapsById
      x-operation-id-source: derived
components:
  schemas:
    UrlMapIdentity:
      description: Identifier for a URL map
      additionalProperties: false
      properties:
        href:
          type: string
          description: A reference to this URL map
          pattern: ^/v2/url-maps/[a-z0-9]+$
    UrlMap:
      description: A URL map contains mappings from source URL to destination URL.
      additionalProperties: false
      allOf:
      - $ref: '#/components/schemas/UrlMapConfiguration'
      - $ref: '#/components/schemas/UrlMapIdentity'
      - $ref: '#/components/schemas/UrlMapState'
    UrlMapConfiguration:
      description: The configurable attributes of a URL map
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the URL map
          minLength: 1
          maxLength: 100
        description:
          type: string
          description: Description of the URL map
          minimum: 0
          maxLength: 1000
        entries:
          type: array
          description: Array of URL map entries
          items:
            $ref: '#/components/schemas/UrlMapEntry'
    UrlMapState:
      type: object
      description: State for a URL map
      additionalProperties: false
      properties:
        created:
          type: string
          format: date-time
          description: Time when the map was created
        entries_size:
          type: number
          description: Total number of entries included in this URL map
        updated:
          type: string
          format: date-time
          description: Time when the map was last updated
    UrlMapEntry:
      type: object
      description: Entry for a URL map
      additionalProperties: false
      properties:
        from:
          type: string
          pattern: ^https?://([a-zA-Z0-9][\w\-]{0,62}\.){1,}[a-zA-Z0-9\-]{2,}/([\w.\-~!$&'()*+,;=:@/]|%[A-Fa-f0-9]{2})*\??([\w.\-~!$&'()*+,;=:@/]|[%[A-Fa-f0-9]{2}])*$
          description: The URL that will be mapped from
        to:
          type: string
          pattern: ^https?://([a-zA-Z0-9][\w\-]{0,62}\.){1,}[a-zA-Z0-9\-]{2,}/([\w.\-~!$&'()*+,;=:@/]|%[A-Fa-f0-9]{2})*\??([\w.\-~!$&'()*+,;=:@/]|[%[A-Fa-f0-9]{2}])*$
          description: The URL that will be mapped to
      required:
      - from
      - to
  securitySchemes:
    access_key:
      type: http
      scheme: Bearer
      description: "An access key secret must be sent as a\n[bearer token](https://www.rfc-editor.org/rfc/rfc7235#section-5.1)\nwith each HTTP request in an `Authorization` header.  Tokens are obtained\nin one of three ways:\n\n1. Creating an access key in your\n   [user profile](https://control.webscale.com/profile).\n2. Using an access key secret created when a service user is created\n   with the [POST accounts/{id}/service-users](#post-/accounts/-id-/service-users)\n   API.\n3. Obtaining a temporary access key using an existing access key secret\n   for a specified account with the\n   [POST users/self/authorization](#post-/users/-id-/authorization) API.\n"
