{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.webscale.com/v2"
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "x-tag-expanded": false
    },
    {
      "name": "Actions",
      "x-tag-expanded": false
    },
    {
      "name": "Address sets",
      "x-tag-expanded": false
    },
    {
      "name": "Applications",
      "x-tag-expanded": false,
      "description": "An application configures the Webscale service for a group of related\nwebsites.\n"
    },
    {
      "name": "Application test",
      "x-tag-expanded": false
    },
    {
      "name": "Archived Logs",
      "x-tag-expanded": false
    },
    {
      "name": "Builders",
      "x-tag-expanded": false
    },
    {
      "name": "Clusters",
      "x-tag-expanded": false
    },
    {
      "name": "Data planes",
      "x-tag-expanded": false
    },
    {
      "name": "Entitlements",
      "x-tag-expanded": false
    },
    {
      "name": "Environments",
      "x-tag-expanded": false
    },
    {
      "name": "Events",
      "x-tag-expanded": false
    },
    {
      "name": "Files",
      "x-tag-expanded": false
    },
    {
      "name": "Filters",
      "x-tag-expanded": false
    },
    {
      "name": "Groups",
      "x-tag-expanded": false
    },
    {
      "name": "Handlers",
      "x-tag-expanded": false
    },
    {
      "name": "Labelers",
      "x-tag-expanded": false
    },
    {
      "name": "Logs",
      "x-tag-expanded": false
    },
    {
      "name": "Log schemas",
      "x-tag-expanded": false
    },
    {
      "name": "Metrics",
      "x-tag-expanded": false
    },
    {
      "name": "Monitors",
      "x-tag-expanded": false
    },
    {
      "name": "Plans",
      "x-tag-expanded": false
    },
    {
      "name": "Providers",
      "x-tag-expanded": false
    },
    {
      "name": "Reports",
      "x-tag-expanded": false
    },
    {
      "name": "Resources",
      "x-tag-expanded": false
    },
    {
      "name": "Roles",
      "x-tag-expanded": false
    },
    {
      "name": "Secrets",
      "x-tag-expanded": false
    },
    {
      "name": "Servers",
      "x-tag-expanded": false
    },
    {
      "name": "Services",
      "x-tag-expanded": false
    },
    {
      "name": "Status",
      "x-tag-expanded": false
    },
    {
      "name": "SSH Hosts",
      "x-tag-expanded": false
    },
    {
      "name": "SSH Public Keys",
      "x-tag-expanded": false
    },
    {
      "name": "Subscriptions",
      "x-tag-expanded": false
    },
    {
      "name": "Tasks",
      "x-tag-expanded": false
    },
    {
      "name": "Templates",
      "x-tag-expanded": false
    },
    {
      "name": "URL maps",
      "x-tag-expanded": false
    },
    {
      "name": "Users",
      "x-tag-expanded": false
    },
    {
      "name": "Service users",
      "x-tag-expanded": false
    }
  ],
  "security": [
    {
      "access_key": [

      ]
    }
  ],
  "info": {
    "title": "Webscale APIs",
    "version": "2026.273",
    "description": "The Webscale APIs allow programmatic access to the Webscale services.\nThe API is designed to be\n[RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer)\nand thus is accessed by making HTTP requests to resources addressed by their\nURL. Resources are primarily represented as JSON objects and are accessed\nusing the HTTP methods:\n\n| Method name | Meaning |\n| ------------| ------- |\n| GET         | Get the representation of the resource state |\n| POST        | Create a new resource |\n| PATCH       | Partially update a resource |\n| DELETE      | Delete a resource |\n\nObjects are arranged in collections and can also be addressed directly.\nFor example, the application collection addressed as `/v2/applications`\nmight contain a single application addressed as `/v2/applications/xyz`. To\ncreate a new object in the applications collection, a POST request is made\nto `/v2/applications`. Addressable resources include an `href` attribute\nthat specifies the URI of the object that can be used to get it, patch it,\nor delete it.\n\nFollowing are some of the commonly used object types and their descriptions.\n\n| Collection       | Object type | Description |\n| ---------------- | ----------- | ----------- |\n| /v2/applications | Application | The primary service configuration for a web application |\n| /v2/address-sets | Address set | Maintains a set of IP addresses usually used to block or allow access |\n| /v2/url-maps | URL map | Collection of URL patterns redirected to other URLs |\n| /v2/events | Event | A record of an event related to the operation of the service or site |\n| /v2/reports | Report | Machine-readable reports providing resource usage history and test results |\n| /v2/secrets | Secret | Arbitrary store-only secrets that are used when configuring services requiring credentials |\n| /v2/files | File | Versioned file contents and metadata used for purposes such as Microsites and Handlers |\n| /v2/tasks | Task | An asynchronously executing process, used for a variety of purposes |\n| /v2/users | User | A person or service entity that has access to the API or console |\n| /v2/accounts | Account | The subscriber to the Webscale service |\n\n### Filter expression\n\nSome APIs accept a filter query that limits the resources that are returned.\nFilters follow the following\n[EBNF](https://en.wikipedia.org/wiki/Extended_Backus–Naur_form) syntax:\n\n```ebnf\n  filter = filter, \"or\", filter | filter, \"and\", filter |\n          \"(\", filter, \")\" | leaf-predicate\n  leaf-predicate = attribute, rel-op, value |\n                  attribute, list-op, ( list-value | value ) |\n                  attribute, null-check-op\n  attribute = word (* member of attributes given on construction *)\n  value = string | word\n  rel-op = \"=\" | \"!=\" | \"~\" | \"!~\" | \"<\" | \">\" | \"<=\" | \">=\" |\n    \"contains\" | \"not contains\"\n  list-op = \"in\" | ( \"not\", \"in\" ) ;\n  list-value = \"(\", list, \")\"\n  list = value, { \",\", list }\n  null-check-op = ( \"is\", \"null\" ) | ( \"is\", \"not\", \"null\" )\n```\n\n### Value template<a name=\"value-template\"></a>\n\nSome web control attributes, such as the header value in the\n`set-request-header` action, accept templates that allow for value\nsubstitution from a set of pre-defined functions.\n\n| Expression | Description |\n| ---------- | ----------- |\n| $_n_ | References a numbered captures `$0`…`$9` from a matching `urls` condition |\n| $(cookie('_name_')) | The value of the specified cookie from `Cookie` header for the request |\n| $(country) | The country code associated with the IP address making the request |\n| $(header('_name_')) | The value of the named header for the request |\n| $(host) | Host from the request |\n| $(path) | Path from the request URL |\n| $(peer_address) | The IP address of the client or upstream server |\n| $(query) | Entire query from the request URL |\n| $(query('_key_'[,'_key_']…)) | A query string consisting of keys and values from the request, or an empty string if the request query contains none of the specified keys |\n| $(referrer) | The URL of the page that linked to the requested resource |\n| $(request_address) | The IP address of the client |\n| $(request_method) | The HTTP method used in the request |\n| $(request_protocol) | The protocol used for the request |\n| $(scheme) | Scheme from the request URL |\n| $(session_id) | A unique identifier assigned to a user’s session |\n\n\n\n#### URL matching\n\nWhen using a `urls` condition, matching process stops at the first URL object in\nits list that matches the request. Captured values, numbered `$1`…`$9` are set\nsequentially from left to right for each wildcard in the `scheme`, `domain`,\n`path`, and `query` attributes or for each capture group of the `regex`\nattribute of a matching URL object. When not using `regex` mode, any omitted\nURL object attributes are considered a single wildcard.\n\n##### Example: Capture example\n\nConsider a request with the URL `https://example.com/images/123.jpg` and a\ncondition configured as follows:\n\n```\n\"list\": [\n  {\n    \"path\": \"/media/*\"\n  },\n  {\n    \"path\": \"/images/*\"\n  },\n  {\n    \"path\": \"*\"\n  }\n]\n```\n\nIn this case, the second URL object matches the request (`/images/*`), so the\nmatching stops there. The captures will be set to:\n\n| Capture | Value |\n| ------- | ----- |\n| `$1` | `http` |\n| `$2` | `example.com` |\n| `$3` | `123.jpg` |\n\nThe final URL condition object (`{ \"path\": \"*\" }`) is not evaluated because the\nsecond condition already matched the request.\n\n##### Example: Simplifying a URL query\n\nYou want to rewrite the URL to include only the `pid` and `v` query parameters,\npreserving the scheme, host, and path.\n\nHere is the JSON configuration for the rewrite-url action:\n\n```\n{\n  \"type\": \"rewrite-url\",\n  \"url\": \"$(scheme)://$(host)$(path)?$(query('pid','v'))\"\n}\n```\n\nConsider a request with the URL: `https://example.com/product/123?pid=456&ref=789&v=a`.\nThen the rewritten URL will be:\n\n```\nhttps://example.com/product/123?pid=456&v=a\n```\n"
  },
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Read account collection",
        "description": "Will return all the account resources that the call is authorized to view.\n",
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an account",
        "description": "Creates a new account and returns the definition.",
        "tags": [
          "Accounts"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPost",
                "description": "The account definition."
              }
            }
          }
        }
      }
    },
    "/accounts/{id}": {
      "get": {
        "summary": "Read an account",
        "description": "Will return the account resource requested.\n",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an account",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id."
            }
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The account was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPatch",
                "description": "The account parameters to update."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an account",
        "description": "Deletes the requested account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Accounts"
        ],
        "responses": {
          "200": {
            "description": "The account was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/entitlements": {
    },
    "/accounts/{account_id}/entitlements/{id}": {
    },
    "/accounts/{id}/billing": {
    },
    "/accounts/{id}/group-invitations": {
      "get": {
        "summary": "Read group invitation collection",
        "description": "Group invitations are used to invite a user to multiple roles at once",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupInvitation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group invitation",
        "description": "Invites a user to a group and returns the invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The invitation was successfully sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvitation"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvitationPost",
                "description": "The invitation definition"
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/group-invitations/{invitation_id}": {
      "get": {
        "summary": "Read a group invitation",
        "description": "Group invitations are used to invite a user to multiple roles at once",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvitation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a group invitation",
        "description": "Reinvite the user to a group and return the invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The group invitation was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvitation"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupInvitationConfiguration",
                "description": "The group invitation definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a group invitation",
        "description": "Revoke a user's invitation to a group and return the invitation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The invitation was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupInvitation"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/groups": {
      "get": {
        "summary": "Read groups collection",
        "description": "Groups can be used to grant users many roles at once",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a group",
        "description": "Creates a new group and returns the definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The group was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupConfigurationPost",
                "description": "The group definition"
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/groups/{group_id}": {
      "get": {
        "summary": "Read a group",
        "description": "Groups can be used to grant users many roles at once",
        "tags": [
          "Groups"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Group id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a group",
        "description": "Updates the group and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Group id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The group was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupConfiguration",
                "description": "The group definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a group",
        "description": "The group must belong to the account into which the user is authenticated",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "group_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Group id"
            }
          }
        ],
        "tags": [
          "Groups"
        ],
        "responses": {
          "200": {
            "description": "The group was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/roles": {
      "get": {
        "summary": "Read role collection",
        "description": "Roles can be granted to users and used to limit access to account resources",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a role",
        "description": "Creates a new role and returns the definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The role was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleConfigurationPost",
                "description": "The role definition"
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/roles/{role_id}": {
      "get": {
        "summary": "Read a role",
        "description": "Roles can be granted to users and used to limit access to account resources",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Role id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a role",
        "description": "Updates the role and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Role id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The role was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleConfiguration",
                "description": "The role definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a role",
        "description": "The role must belong to the current account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id."
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Role id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The role was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Role"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/invitations": {
      "get": {
        "summary": "Read invitation collection",
        "description": "Invitations are used to grant roles to users",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleInvitation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an invitation",
        "description": "Creates a new invitation and returns the definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The invitation was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInvitation"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleInvitationPost",
                "description": "The invitation definition"
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/invitations/{invitation_id}": {
      "get": {
        "summary": "Read an invitation",
        "description": "Invitations are used to grant roles to users",
        "tags": [
          "Roles"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInvitation"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an invitation",
        "description": "Updates the invitation and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The role was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInvitation"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleInvitationConfiguration",
                "description": "The invitation definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an invitation",
        "description": "The invitation must belong to the current account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "invitation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Invitation id"
            }
          }
        ],
        "tags": [
          "Roles"
        ],
        "responses": {
          "200": {
            "description": "The invitation was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleInvitation"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{id}/service-users": {
      "get": {
        "summary": "Read service user collection",
        "description": "Service users are used to permit or deny access to specific APIs.",
        "tags": [
          "Service users"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServiceUser"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a service user",
        "description": "Creates a new service user and returns the definition.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          }
        ],
        "tags": [
          "Service users"
        ],
        "responses": {
          "200": {
            "description": "The service user was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUserConfiguration",
                "description": "The service user definition"
              }
            }
          }
        }
      }
    },
    "/accounts/{account_id}/service-users/{id}": {
      "get": {
        "summary": "Read a service user",
        "description": "Service users are used to allow access to specific APIs.",
        "tags": [
          "Service users"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "User id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a service user",
        "description": "Updates the service user and returns the updated definition.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "User id"
            }
          }
        ],
        "tags": [
          "Service users"
        ],
        "responses": {
          "200": {
            "description": "The service user was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceUserConfiguration",
                "description": "The service user definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a service user",
        "description": "Deletes a service user.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Account id."
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "User id"
            }
          }
        ],
        "tags": [
          "Service users"
        ],
        "responses": {
          "200": {
            "description": "The service user was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUser"
                }
              }
            }
          }
        }
      }
    },
    "/address-sets": {
      "get": {
        "summary": "Read address set collection",
        "description": "Returns all the address sets associated with the caller's account.",
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The address sets were successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressSet"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an address set",
        "description": "Creates a new address set and returns the definition",
        "parameters": [

        ],
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The address sets was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSet"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressSetPost",
                "description": "The address set definition"
              }
            }
          }
        }
      }
    },
    "/address-sets/{id}": {
      "get": {
        "summary": "Read an address set",
        "description": "Retrieves an address set definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address set id"
            }
          }
        ],
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The address set was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSet"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an address set",
        "description": "Updates the address set and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address set id"
            }
          }
        ],
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The address sets was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSet"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddressSetPatch",
                "description": "The address set definition"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an address set",
        "description": "The address must belong to the current account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address set id"
            }
          }
        ],
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The address set was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddressSet"
                }
              }
            }
          }
        }
      }
    },
    "/address-sets/{id}/addresses": {
      "get": {
        "summary": "Read addresses for an address set",
        "description": "Retrieves all address entries contained within the address set. Includes addresses from any and all included sets",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Address set id"
            }
          }
        ],
        "tags": [
          "Address sets"
        ],
        "responses": {
          "200": {
            "description": "The call was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AddressSetEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/address-sets/metrics": {
      "get": {
        "summary": "Read address set collection metrics",
        "description": "Returns requested metrics for all address sets for the current account.\n",
        "tags": [
          "Address sets",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A comma separated list of metrics names. Allowed metric names: entries_added, entries_extended, entries_expired, entries_deleted"
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/summarize",
            "schema": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the address set have been returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/address-sets/{id}/metrics": {
      "get": {
        "summary": "Read address set metrics",
        "description": "Returns requested metrics for a single address set.\n",
        "tags": [
          "Address sets",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A comma separated list of metrics names. Allowed metric names:\nentries_added, entries_extended, entries_expired, entries_deleted\n"
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/summarize",
            "schema": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the address set have been returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/tests": {
    },
    "/tests/{id}": {
      "delete": {
        "summary": "Delete a test configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/id",
            "schema": {
            }
          }
        ],
        "tags": [
          "Application test"
        ],
        "responses": {
          "200": {
            "description": "The test was successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationTest"
                }
              }
            }
          }
        }
      }
    },
    "/applications": {
      "get": {
        "summary": "Read application collection",
        "description": "Will return all the application resources that the caller is authorized to view.\n",
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Application"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an application",
        "description": "",
        "parameters": [

        ],
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "The application was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPost",
                "description": "The application definition."
              }
            }
          }
        }
      }
    },
    "/applications/{id}": {
      "get": {
        "summary": "Read an application",
        "description": "Retrieve an application resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          }
        ],
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "The application was successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an application",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          }
        ],
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "The application was successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          },
          "201": {
            "description": "A task was created to patch the application.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPatch",
                "description": "The application definition."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an application",
        "description": "An application must be in the stopped state to be deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          }
        ],
        "tags": [
          "Applications"
        ],
        "responses": {
          "200": {
            "description": "The call application was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Application"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app_id}/actions": {
    },
    "/applications/{app_id}/actions/{action_id}": {
    },
    "/applications/{id}/logs": {
      "get": {
        "summary": "Read application logs",
        "description": "Returns an endpoint for the requested application logs.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          },
          {
            "$ref": "#/components/parameters/log-type"
          },
          {
            "$ref": "#/components/parameters/from"
          },
          {
            "$ref": "#/components/parameters/to"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "select",
            "in": "query",
            "description": "A comma-separated sequence of attribute names to be returned in the result\nin the same order. To obtain a list of fields, use the\n[GET /log-schemas](#get-/log-schemas) API.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/order"
          },
          {
            "$ref": "#/components/parameters/groupby"
          },
          {
            "$ref": "#/components/parameters/groupfilters"
          },
          {
            "$ref": "#/components/parameters/grouplimit"
          },
          {
            "$ref": "#/components/parameters/groupselect"
          },
          {
            "$ref": "#/components/parameters/grouporder"
          }
        ],
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "A CSV or a JSON document containing the application access logs. The fields included in the response depend on the parameters specified in the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApplicationLog"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create application logs",
        "description": "Submit custom logs.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of log being submitted. Currently the only type of log that may be created is `custom`.",
            "schema": {
              "type": "string",
              "enum": [
                "custom"
              ],
              "default": "custom"
            }
          }
        ],
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "Successfully submitted.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "array",
                      "description": "Array of unique IDs for each submitted log.",
                      "items": {
                        "$ref": "#/components/schemas/CustomLogId"
                      }
                    },
                    {
                      "$ref": "#/components/schemas/CustomLogId"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplicationPost_logs"
              }
            }
          }
        }
      }
    },
    "/applications/metrics": {
      "get": {
        "summary": "Read application collection metrics",
        "description": "Returns requested metrics for all applications.\n",
        "tags": [
          "Applications",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": true,
            "description": "A comma separated list of metrics names. For the set of metrics supported, see [GET applications/{id}/authorization](#get-/applications/-id-/metrics)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/summarize",
            "schema": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the applications are returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/metrics": {
      "get": {
        "summary": "Read application metrics",
        "description": "Read named metrics for an application. A time period specified by `from` and\n`to` query parameters is required. A `resolution` parameter optionally\nspecifies the size of the intervals in which metrics are returned. The\nmetrics available are:\n\n### active_requests\n\nAverage request count being serviced by application servers at any instant.\n\n### active_sessions\n\nAverage of the number of sessions active at any instant. A session is active\nfrom its first request until it times out at 30 minutes after its last\nrequest.\n\n### bytes_in\n\nThe number of input bytes received by a data plane for requests.\n\n### bytes_out\n\nThe number of output bytes written by a data plane in responses.\n\n### cdn_bytes_in\n\nThe number of input bytes received by a CDN for requests.\n\n### cdn_bytes_out\n\nThe number of output bytes written by a CDN in responses.\n\n### countries\n\nAn object mapping a country code to a count of requests.\n\n### delivery_status\n\nAn object mapping a delivery status to a count of requests.\n\n### edge_locations\n\nAn object mapping an CDN POP location to a count of requests.\n\n### edge_response_time\n\nThe average elapsed time as measured at CDN POPs.\n\n### edge_response_types\n\nAn object mapping a CDN response type to a count of requests.\n\n### edge_status_codes\n\nAn object mapping response status codes to a count of requests as observed\nat CDN POPs.\n\n### edge_ttfb\n\nThe average time to first byte (TTFB) for responses as observed at CDN POPs.\n\n### edge_useragent_device\n\nAn object mapping a user agent device code to a count of requests as\nobserved at CDN POPs.\n\n### edge_useragent_name\n\nAn object mapping a user agent name to a count of requests as\nobserved at CDN POPs.\n\n### edge_useragent_os\n\nAn object mapping a user agent operating system code to a count of requests\nas observed at CDN POPs.\n\n### page_load_elapsed\n\nAverage page load time as reported by a user agent.\n\n### page_views\n\nCount of page load reports made by user agents.\n\n### rejected_requests\n\nCount of requests that were rejected because the application servers were\nnot responsive and either too many requests were queued or a request was\nqueued for too long.\n\n### requests\n\nCount of requests processed by a data plane.\n\n### status_codes\n\nAn object mapping a response status code to a count of requests as observed\nat a data plane.\n\n### suspended_requests\n\nAverage suspended request count at any given instant because the application\nservers were not responsive.\n\n### useragent_device\n\nAn object mapping a user agent device code to a count of requests as\nobserved at a data plane.\n\n### useragent_name\n\nAn object mapping a user agent name to a count of requests as observed at a\ndata plane.\n\n### useragent_os\n\nAn object mapping a user agent operating code to a count of requests as\nobserved at a data plane.\n\n### webcontrol_hits\n\nAn object mapping a Web Control identifier to a count of requests as\nobserved at a data plane.\n",
        "tags": [
          "Applications",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": true,
            "description": "A comma-separated list of metric names. Result arrays will include\nmetric values in the same order as specified here.\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/summarize",
            "schema": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the application have been returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app_id}/pagecontrols": {
    },
    "/applications/{app_id}/pagecontrols/{id}": {
    },
    "/applications/{app_id}/webcontrols": {
      "get": {
        "summary": "Read web controls",
        "description": "Returns all web controls for an application",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id."
            }
          },
          {
            "name": "filter",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^$",
              "description": "An optional filter that can be provided. An empty string asks for every web control, including deleted controls."
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^([-+][a-z0-9_]+)(,[-+][a-z0-9_]+)*$",
              "description": "A comma-separated list of attributes to be returned for web controls. Using a prefix of + or - respectively, will add or remove an attribute from the default set"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Web controls in the order of processing",
                  "items": {
                    "$ref": "#/components/schemas/WebControl"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/applications/{app_id}/webcontrols/{id}": {
      "get": {
        "summary": "Read a web control",
        "description": "Reads an application web control configuration.",
        "tags": [
          "Applications"
        ],
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Application id"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^\\d+$",
              "description": "Web control id"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "A comma-separated list of attributes to be returned for the web control. Using a prefix of + or - respectively, will add or remove an attribute from the default set"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebControl"
                }
              }
            }
          }
        }
      }
    },
    "/applications/{id}/subscriptions/{subscription_id}": {
    },
    "/applications/{id}/subscriptions": {
    },
    "/applications/{id}/cache": {
    },
    "/applications/{id}/queue": {
    },
    "/applications/{id}/maintenance-microsite": {
    },
    "/applications/{id}/maintenance-microsite_preview": {
    },
    "/applications/{id}/status": {
    },
    "/archived-logs": {
      "get": {
        "summary": "List log status",
        "description": "Returns a list of archived logs status for the account or applications in\nascending order.\n",
        "tags": [
          "Logs"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "A URL-encoded string used to filter results.\nSupported fields: `type`, `application`.\n\nEncoding Guide:\n* `=` (Equals) must be `%3D`\n* ` ` (Space) must be `%20`\n",
            "schema": {
              "type": "string"
            },
            "example": "type%3Dproxy-logs%20and%20application%3Dapiid"
          },
          {
            "$ref": "#/components/parameters/from"
          },
          {
            "$ref": "#/components/parameters/to"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response containing the available archived logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedLogs"
                }
              }
            }
          }
        }
      }
    },
    "/archived-logs/{ref}": {
      "get": {
        "summary": "Download archived logs",
        "description": "Streams a Gzip-compressed log file for a specific log type and time range.\n\nStatus Check: It is highly recommended to check the log status via the\n              `/archived-logs` listing endpoint first to ensure the state\n              is ready. If the state is not ready, use the\n              `prepare-for-download` task to make the log available for\n              download.\n\nexample:\n```\ncurl 'https://api.lagrange.ninja/v2/archived-logs/applications/app-api-id/proxy-logs?from=2026-05-12T22:00:00Z&to=2026-05-13T23:00:00Z' \\\n      -H 'authorization: Bearer <TOKEN>' \\\n      -H 'accept: application/gzip' \\\n      --output test.log.gz\n```\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/archived-log-reference"
          },
          {
            "$ref": "#/components/parameters/from"
          },
          {
            "$ref": "#/components/parameters/to"
          }
        ],
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/gzip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete archived logs",
        "parameters": [
          {
            "$ref": "#/components/parameters/archived-log-reference"
          },
          {
            "$ref": "#/components/parameters/from"
          },
          {
            "$ref": "#/components/parameters/to"
          }
        ],
        "description": "Deletes archived logs for a specified time period.\n",
        "tags": [
          "Logs"
        ],
        "responses": {
          "200": {
            "description": "A successful response containing the deleted archived logs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchivedLogs"
                }
              }
            }
          }
        }
      }
    },
    "/builders": {
      "get": {
        "summary": "Read builder collection",
        "description": "Returns all builders the caller is authorized to view.\n",
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "A comma-separated sequence of attribute names to be returned in the result.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Builders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Builder"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a builder",
        "description": "Creates a new builder and returns the definition",
        "tags": [
          "Builders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuilderPost"
              }
            }
          }
        }
      }
    },
    "/builders/{id}": {
      "get": {
        "summary": "Read a builder",
        "description": "Retrieves a builder.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "builder id"
            }
          }
        ],
        "tags": [
          "Builders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a builder",
        "description": "Updates a builder and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Builder id"
            }
          }
        ],
        "tags": [
          "Builders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuilderConfiguration"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuilderConfiguration",
                "description": "The builder parameters to update"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a builder",
        "description": "Deletes a builder. The final snapshot of the builder is returned.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "builder id"
            }
          }
        ],
        "tags": [
          "Builders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Builder"
                }
              }
            }
          }
        }
      }
    },
    "/clusters": {
      "get": {
        "summary": "Read cluster collection",
        "description": "Will return all the cluster resources that the caller is authorized to view.\n",
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cluster"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a cluster",
        "description": "Creates a cluster. Servers for that cluster will be created to meet the minimum_size and manual_size settings.\n",
        "parameters": [

        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "201": {
            "description": "The cluster was successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterPost",
                "description": "The cluster definition."
              }
            }
          }
        }
      }
    },
    "/clusters/{id}": {
      "get": {
        "summary": "Read a cluster",
        "description": "Will return the cluster resource if the caller's account is authorized to view.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cluster id."
            }
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a cluster",
        "description": "Select properties of a cluster resource can be modified using this call.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cluster id."
            }
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterPatch",
                "description": "The properties of the cluster resource to be patched.<br><br>Patchable properties are limited to those described in the ClusterPatch model."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a cluster",
        "description": "The cluster will be immediately deleted if it is not in use and has no active servers associated with it. If the cluster has any active servers associated with it, a task will be created to delete all the active after which the cluster itself will be deleted.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cluster id"
            }
          }
        ],
        "tags": [
          "Clusters"
        ],
        "responses": {
          "200": {
            "description": "The cluster was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cluster"
                }
              }
            }
          },
          "202": {
            "description": "A task was created to delete the cluster.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/{id}/metrics": {
      "get": {
        "summary": "Read cluster metrics",
        "description": "Read named metrics for a cluster. A time period specified by `from` and\n`to` query parameters is required. A `resolution` parameter optionally\nspecifies the size of the intervals in which metrics are returned. The\nmetrics available are:\n\n### normalized_load\n\nAverage system load across all machines in a cluster. On UNIX-based\nmachines, it reflects the system load average. On Windows-based machines, it\ncorresponds to the average processor queue length. The value reported by\neach machine is normalized by dividing by the number of its logical\nprocessors, allowing consistent interpretation even when processor counts\nvary across machines or over time.\n\n### cpu_utilization\n\nAverage percent CPU utilization across all machines in a cluster.\n\n### iowait_percent\n\nAverage percentage of available CPU time across all machines in a cluster\nspent by ready tasks waiting for I/O operations to complete.\n\n### memory_utilization\n\nAverage percentage of utilized memory across all machines iin a cluster.\n\n### disk_space\n\nAverage amount of allocated disk space across all machines in a cluster,\nrepresented as an object mapping disk names to allocated disk space in\nbytes.\n\n### disk_utilization\n\nAverage percentage of allocated disk space used across all machines in a\ncluster, represented as an object mapping disk names to space utilization.\n",
        "tags": [
          "Clusters",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Cluster id."
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": true,
            "description": "A comma separated list of metrics names. Result arrays will include metric values in the same order as specified here.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/summarize",
            "schema": {
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the cluster have been returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/clusters/metrics": {
      "get": {
        "summary": "Read cluster collection metrics",
        "description": "Returns requested metrics for all clusters.\n",
        "tags": [
          "Clusters",
          "Metrics"
        ],
        "parameters": [
          {
            "name": "names",
            "in": "query",
            "required": true,
            "description": "A comma separated list of metrics names. For the set of metrics supported, see [GET clusters/{id}/metrics](#get-/clusters/-id-/metrics)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/from",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/to",
            "schema": {
            }
          },
          {
            "$ref": "#/components/parameters/resolution"
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics for the clusters are returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Metrics"
                }
              }
            }
          }
        }
      }
    },
    "/data-planes": {
    },
    "/data-planes/{id}": {
    },
    "/environments": {
      "get": {
        "summary": "Read environments collection",
        "description": "Returns defined environments\n",
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an environment",
        "description": "Creates a new environment and returns the definition\n",
        "parameters": [

        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentPost"
              }
            }
          }
        }
      }
    },
    "/environments/{id}": {
      "get": {
        "summary": "Read an environment",
        "description": "Retrieves an environment.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "environment id"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an environment",
        "description": "Updates an environment and returns the updated definition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Environment id"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnvironmentConfiguration"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an environment",
        "description": "Deletes an environment.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Environment id"
            }
          }
        ],
        "tags": [
          "Environments"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Environment"
                }
              }
            }
          }
        }
      }
    },
    "/files": {
      "get": {
        "summary": "Get all files",
        "description": "Returns all files for the current account.\n",
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/File"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a file.",
        "description": "Upload a file.",
        "parameters": [

        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilePost",
                "description": "The definition of the new file."
              }
            }
          }
        }
      }
    },
    "/files/{id}": {
      "get": {
        "summary": "Get a file",
        "description": "Will return the file resource requested.\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a file",
        "description": "Edits properties and/or contents of a file.",
        "parameters": [

        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FilePatch",
                "description": "The definition of the new file."
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file",
        "description": "The file must belong to the current account.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "File id"
            }
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "The file was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }
    },
    "/files/{id}/contents": {
      "get": {
        "summary": "Get a file contents",
        "description": "Will return the contents of the requested file.\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Version number of the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful."
          }
        }
      }
    },
    "/files/{id}/contents/{path}": {
      "get": {
        "summary": "Get contents of a file within a package",
        "description": "Will return the contents of a file with path within a package.\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Relative path of a file within a package.",
              "pattern": "^[^/]"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Version number of the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful."
          }
        }
      }
    },
    "/files/{id}/details": {
      "get": {
        "summary": "Gets all details.",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          }
        ],
        "tags": [
          "Files"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/files/{id}/versions/{version_id}": {
      "get": {
        "summary": "Gets properties of a particular version of a file.",
        "description": "Will return the properties of a particular version of a file.\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Version number of the file."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileVersion"
                }
              }
            }
          }
        }
      }
    },
    "/files/{id}/versions/{version_id}/contents": {
      "get": {
        "summary": "Get contents of a file version",
        "description": "Serves contents of a file version.",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Version number of the file.",
              "pattern": "^\\d+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful."
          }
        }
      }
    },
    "/files/{id}/versions/{version_id}/contents/{path}": {
      "get": {
        "summary": "Get contents of a file version within a package.",
        "description": "Will return the contents of a particular version of file with path within a package.\n",
        "tags": [
          "Files"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A file id."
            }
          },
          {
            "name": "version_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Version number of the file.",
              "pattern": "^\\d+$"
            }
          },
          {
            "name": "path",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Relative path of a file within a package.",
              "pattern": "^[^/]"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The call was successful."
          }
        }
      }
    },
    "/filters": {
    },
    "/filters/{id}": {
    },
    "/handlers": {
    },
    "/handlers/{id}": {
    },
    "/labelers": {
    },
    "/labelers/{id}": {
      "delete": {
        "summary": "Delete a labeler",
        "description": "Deletes the requested labeler.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Labeler id"
            }
          }
        ],
        "tags": [
          "Labelers"
        ],
        "responses": {
          "200": {
            "description": "The labeler was successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Labeler"
                }
              }
            }
          }
        }
      }
    },
    "/log-schemas": {
      "get": {
        "summary": "Read log schemas",
        "description": "Returns all log schemas usable by an account.",
        "tags": [
          "Log schemas"
        ],
        "responses": {
          "200": {
            "description": "The call was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "An array of log schemas.",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LogSchema"
                  }
                }
              }
            }
          }
        }
      }
    },
[...]
